nav{
    display: flex;
    border-bottom: 2px solid #f3f3f3;
    /* box-shadow:  0 3px 5px rgba(0, 0, 0, 0.2); */
    justify-content: space-between;
    align-items: center;
    padding: px;
    z-index: 999;
    margin-left: 2rem;
    margin-right: 2rem;
}
.logo-container{
    display: flex;
    justify-content: space-between;
}
img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-top: 13px;
    align-items: center;
}
p{
    font-size: 1.3rem;
    color: #494949;
    text-align: center;
}
input{
    padding: 12px 20px;
    border: none;
    background: #f7f6f6;
    outline: none;
    margin-right: 20px;
    border-radius: 5px;
    position: relative;
    width: 16rem;
}
.nav-icons{
    margin-left: .5rem;
    width: 1.3rem;
    height: 1.3rem;
    color: #494949;
}


